{% extends "layout.html" %} 
{% block content %} 
<!-- about-->
<section id="about" class="text">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="heading">About me</h2>
          <p class="lead">A few words ...</p>
          <p>I am 34 years old , leaving in Bucharest and in this blog i will write my steps in learning computer programming.</p>
          <p>No math backround</p>
          <p>No computer class backround</p>
          <p>No previous experience in programming</p>

        </div>
        <div class="col-lg-5 mx-auto">
          <p><img src="static/img/japan-mountains.jpg" alt="" class="img-fluid rounded-circle"></p>
        </div>
      </div>
    </div>
  </section>
  <!-- about end-->
{% endblock content %}